@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* apply design to whole page */
* {
    box-sizing: border-box;
    margin: 0;

    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

body {
    /* margin: 3rem; */
    font-family: "Roboto", sans-serif;
    

    box-sizing: border-box;
}

section {
    min-height: 400px;
    /* min-height: 100vh; */
    padding: 3rem 3rem;
}


/* header design  */
.head .header-img {
    position: absolute;
    z-index: -1;
    top: 0;
    
    right: 0;
    margin: 0;
    height: 33rem;
}

.head header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 1.5rem 3rem;
    
}

.head header {
    border-bottom: 0.1rem solid rgba(0, 0, 0, .1);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
  }

.head header a {
    text-decoration: none;
    color: rgb(35, 33, 33);
    font-weight: bold;
}

.head header nav a {
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin: 1rem;
}

.head header nav a:hover {
    color: rgb(36, 32, 32);
}

/* header part 02 */

.head .home {
    display: flex;
    margin-top: 40px;
    align-items: center;
    /* padding: 2rem 2rem; */

}

.head .home .child {
    flex: 2;
}

.head .home .child .title {
    word-spacing: 1.3rem;
    line-height: 4.6rem;
    font-size: 4rem
}

.head .home .child p {
    word-spacing: 1rem;
    line-height: 2rem;
    font-size: 1.5rem;
    color: #7c7575;
    margin: 1.7rem 0;
}

.head .home .child .btn {
    display: flex;
    gap: 2rem;
}

.head .home .child .btn .btn-prime {
    padding: 1.2rem;
    width: 8rem;
    background-color: #3685fb;
    color: #ffffff;

    border-radius: 0.4rem;
    border: none;
}

.head .home .child .btn .btn-ordinary {
    padding: 1.2rem;
    width: 8rem;
    background-color: #ffffff;
    color: #4B91F7;

    border-radius: 0.4rem;
    border: 2px solid #4B91F7;
}


/* why choose us */

.features {
    margin-top: 100px;
    text-align: center;
    display: flex;

    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.features .cards {
    display: flex;
    margin-top: 60px;
    gap: 5rem;
}

.features .cards .card {
    flex: 1 ;
    /* border: 1px solid black; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}

.features .cards .card p {
    line-height: 2rem;
    font-size: 1rem;
    color: #7c7575;

    padding: 0 3rem;
}

.features .cards .card i {
    color: #ffffff;
    background-color: #4B91F7;
    font-size: 2rem;
    padding: 1rem;

    border-radius: 0.4rem;
}













/* courses section */

.courses {
    margin-top: 100px;
    text-align: center;
    display: flex;

    flex-direction: column;
}

.courses .cards {
    display: flex;
    margin-top: 60px;
    gap: 5rem;
}

.courses .cards .card {
    flex: 1 ;
    border: 1px solid transparent;
    /* padding: 1rem;

    box-shadow: 1px 2px 6px 0px rgba(123,116,116,0.74);
    -webkit-box-shadow: 1px 2px 6px 0px rgba(123,116,116,0.74);
    -moz-box-shadow: 1px 2px 6px 0px rgba(123,116,116,0.74); */

    border-radius: 1rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .1);
    overflow: hidden;

    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.courses .cards .card p {
    line-height: 2rem;
    font-size: 1rem;
    color: #7c7575;

    padding: 0 3rem;
}

.courses .cards .card img {
    width: 100%;
}

.courses .cards .card .btn-ordinary {
    padding: 0.8rem;
    width: 7rem;
    background-color: #ffffff;
    color: #4B91F7;

    border-radius: 0.4rem;
    border: 2px solid #4B91F7;
        
}


/* testimonial */

.testimonial {
    margin-top: 150px;
    text-align: center;
    display: flex;

    flex-direction: column;
    background-color: #4c90f6;
    background: url('../assets/testimonial-bg.jpg');
    /* opacity: 0.2; */
    /* background-color: rgba(142, 141, 132, 0.7); */

    /* position: relative; */
    /* opacity: 0.2; */
    box-shadow: inset 0 0 0 1000px rgba(87, 122, 217, 0.78);
    /* margin-left: 0; */
    /* margin-right: 0; */
}

.testimonial .info {
    margin-top: 50px;
    color: #ffffff;
}

.testimonial .cards {
    display: flex;
    /* margin-top: 20px; */
    gap: 5rem;

    /* position: absolute; */
    margin: 100px 100px;
    
    
}

.testimonial .cards .card {
    flex: 1 ;
    border: 1px solid black;
    padding: 1.5rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .1);
    gap: 1rem;

    /* opacity: 1; */
}

.testimonial .cards .card p {
    line-height: 2rem;
    font-size: 1rem;
    color: #7c7575;

    padding: 0 3rem;
}

.testimonial .cards .card div {
    border:10px solid black;
    border-radius:50%;
    border-bottom-color:#fff;
    border-right-color:#fff;
    transform: rotate(45deg);

    width: 25%;
    margin-top: 1rem;

}


.testimonial .cards .card img {
    width: 100%;
    /* margin-top: 1rem; */
    transform: rotate(-45deg);
    /* border-bottom: 12px solid #4B91F7; */
    /* border-color: #4B91F7;
    border-style: outset;
    border-width: 12px; */

    /* border:10px solid #4B91F7; */
    border-radius:50%;
    /* border-bottom-color:#fff; */
    /* border-right-color:#fff;  */
    /* transform: rotate(-90deg); */
    
    /* border-top-color: #4B91F7; */
    /* border-left-color: #4B91F7; */
    /* transform: rotate(90deg); */

    

    
}




/* about our app  */

.app {
    margin-top: 100px;
    /* check this line to make */
    text-align: center; 
    display: flex;

    flex-direction: column;
}

.app .boss-second {
    display: flex;
    flex-direction: row;    
    margin-top: 3rem;

    align-items: center;
    gap: 1rem;
    /* padding: 1rem; */
}

.app .boss-second .boss-second {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.app .cards {
    display: flex;
    flex-direction: column;
    /* margin-top: 60px; */
    gap: 2rem;
}

.app .cards .card-icon {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1rem;
}

/* .app .cards .card {
    flex: 1 ;
    border: 1px solid black;
    padding: 1rem;
} */

.app .cards .card p {
    /* line-height: 2rem; */
    /* font-size: 1rem; */
    color: #7c7575;
    text-align: left;
    padding-right: 10rem;
    line-height: 1.8rem;
}

.app .cards .card i {
    color: #4B91F7;
    background-color: lightgray;
    font-size: 2rem;
    padding: 0.5rem;

    border-radius: 50%;
}

hr {
    border-top: 1px dashed #4c90f6;
}

.app .fourth {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: flex-end;
    /* gap: 1rem; */
}

.app .fourth img {
    width: 20%;
}



/* footer section */

footer {
    display: flex;
    margin-top: 100px;
    text-align: center;
    display: flex;

    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: #ffffff;

    align-items: center;
    gap: 1.2rem;
}

footer h1 {
    margin-top: 80px;
}

footer .social i {
    font-size: 2rem;
    margin-left: 2rem;
}

footer hr {
    display: block;
    width: 90%;
    border-top: 2px solid white;
}

footer .contact {
    display: flex;
    /* justify-content: space-evenly; */
    margin: 30px 0;
    gap: 13rem;
    justify-content: space-between;
}

footer .arrow {
    display: flex;
    justify-content: flex-end;  
    width: 100%;
}

footer .arrow i {
    color: #ffffff;
    background-color: #4B91F7;
    font-size: 2rem;
    padding: 0.5rem;

    border-radius: 0.4rem;
    margin: 2%;
   
}


/* responsiveness */

@media(max-width : 1024px){
    .head .header-img {
        height: 27rem;
    }
    
    
    /* header part 02 */
    
    .head .home .child .title {
        word-spacing: 1rem;
        line-height: 3.2rem;
        font-size: 2.5rem
    }
    
    .head .home .child p {
        word-spacing: 0.5rem;
        line-height: 2rem;
        font-size: 1rem;
        color: #7c7575;
        margin: 1rem 0;
    }
    

    .features {
        margin-top: 60px;
    }
    
    .info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .features .cards {
        margin-top: 40px;
        gap: 4rem;
    }
    
    
    .features .cards .card p {
        padding: 0 1rem;
    }
    
    .features .cards .card i {
        font-size: 1.5rem;
        padding: 0.8rem;
    }

    .courses {
        margin-top: 60px;
    }
    
    
    .courses .cards .card p {
        padding: 0 2rem;
    }
    
    .courses .cards .card img {
        width: 100%;
    }
    
    .testimonial {
        margin-top: 100px;
    }

    
    .testimonial .cards .card p {
        line-height: 1.8rem;
        padding: 0 2rem;
    }
    
    /* about our app  */

    .app .boss-second {
        gap: 0.5rem;
        /* padding: 1rem; */
    }

    .app .cards .card p {
        padding-right: 2rem;
        line-height: 1.3rem;
        margin: 1rem 0;
        font-size: 0.8rem;
    }

    .app .cards .card i {
        font-size: 1rem;
        padding: 0.5rem;
    }
    
}


@media(max-width : 768px){
    
    /* header design  */

    .head {
        background: #4B91F7;
    }

    .head .header-img {
        display: none;
    }
    
    .head header {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        padding: 1.5rem 3rem;
        
    }
    
    .head header {
        border-bottom: 0.1rem solid rgba(0, 0, 0, .1);
    }
    

    .head header a {
        color: rgb(255, 255, 255);
    }
    
    .head header nav a {
        font-weight: 300;
        margin: 0.5rem;
    }
    
    
    /* header part 02 */
    
    .head .home {
        margin-top: 10px;
        align-items: center;
        flex-direction: column-reverse;    
    }
    
    .head .home .left div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .head .home .left .title {
        word-spacing: 1rem;
        line-height: 2rem;
        font-size: 1.5rem;
        color: #ffffff;
        
    }

    
    .head .home .left p {
        word-spacing: 0.1rem;
        line-height: 1.3rem;
        font-size: 0.8rem;
        color: #ffffff;
        margin: 1rem 2rem;

        text-align: center;
    }
    
    .head .home .left .btn {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    
    .head .home .left .btn .btn-prime {
        padding: 0.8rem;
        width: 8rem;
        background-color: #ffffff;
        color: #4B91F7;

        border-radius: 0.4rem;
    }
    
    .head .home .left .btn .btn-ordinary {
        padding: 0.8rem;
        width: 8rem;
        background-color: transparent;
        color: #ffffff;
    
        border-radius: 0.4rem;
        border: 2px solid #ffffff;
    }
    
    .head .home .right {
        width: 40%;
    }
    
    /* why choose us */
    
    .features {
        margin-top: 10px;
        text-align: center;
        display: flex;
    
        flex-direction: column;
    }
    
    .info {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

    }
    
    .info h1 {
        font-size: 1rem;
    }

    .info p {
        font-size: 0.8rem;
    }

    .features .cards {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    
    .features .cards .card {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .features .cards .card h1 {
        font-size: 1rem;
    }
    
    .features .cards .card p {
        line-height: 2rem;
        font-size: 0.8rem;
    }
    
    .features .cards .card i {
        font-size: 1rem;
        padding: 0.5rem;
    }
    
    

    
    /* courses section */
    
    .courses {
        margin-top: 10px;
        text-align: center;
        display: flex;
    
        flex-direction: column;
    }

    .courses .cards {
        display: flex;
        flex-direction: column;
        /* gap: 3rem; */
        margin-top: 2rem;
    }
    
    .courses .cards .card {
            border: 1px solid transparent;

        border-radius: 1rem;
        box-shadow: 5px 5px 30px rgba(0, 0, 0, .1);
        overflow: hidden;
    
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .courses .cards .card h1 {
        font-size: 1rem;
    }
    
    .courses .cards .card p {
        line-height: 2rem;
        font-size: 0.8rem;
    }
    
    .courses .cards .card img {
        width: 100%;
    }
    
    .courses .cards .card .btn-ordinary {
        padding: 0.6rem;
        width: 8rem;
    }
    
    
    /* testimonial */
    
    .testimonial {
        margin-top: 5px;
    }
    
    .testimonial .info {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        margin-top: 1rem;
    }

    .testimonial .info h1 {
        font-size: 1rem;
    }

    .testimonial .info p {
        font-size: 0.8rem;
    }
    
    .testimonial .cards {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        margin: 2rem 0.5rem;  
    }
    
    .testimonial .cards .card {
        padding: 0.5rem;
        gap: 1rem;
    }
    
    .testimonial .cards .card h1 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .testimonial .cards .card p {
        line-height: 1rem;
        font-size: 0.8rem;  
        padding: 0 2rem;
    }
    
    .testimonial .cards .card div {
        border:5px solid black;
        border-radius:50%;
        border-bottom-color:#fff;
        border-right-color:#fff;
        transform: rotate(45deg);
    
        width: 15%;
        margin-top: 1rem;
    
    }
     
    /* about our app  */
    
    .app {
        margin-top: 5px;

    }
    
    .app .boss-second {
        display: flex;
        flex-direction: column;    
        margin-top: 1rem;
    
        align-items: center;
        gap: 1rem;
        /* padding: 1rem; */
    }
    
    
    .app .cards {
        display: flex;
        flex-direction: column;
        /* margin-top: 60px; */
        gap: 2rem;
    }
    
    .app .cards .card-icon {
        align-items: center;
        justify-content: center;
    
        gap: 1rem;
    }
    
    .app .cards .card-icon h3 {
        font-size: 0.8rem;
    }
    
    .app .cards .card p {
        /* line-height: 2rem; */
        font-size: 0.7rem;
        color: #7c7575;
        text-align: center;
        
        line-height: 1.8rem;
    }
    
    .app .cards .card i {
        font-size: 1rem;
        padding: 0.3rem;

    }
    
    hr {
        border-top: 1px dashed #4c90f6;
    }
    
    .app .fourth {
        width: 100%;
        justify-content: space-around;
        margin: 1rem;
    }
    
    /* footer section */
    
    footer {

        margin-top: 0px;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        color: #ffffff;
    
        align-items: center;
        gap: 1rem;
    }
    
    footer h1 {
        margin-top: 40px;
        font-size: 1rem;
    }
    
    footer p {
        font-size: 0.8rem;
        margin: 0 3rem;
    }

    footer .social i {
        font-size: 1.5rem;
    }
    
    footer .contact {
        display: flex;
        flex-direction: column;
        margin: 1rem;

        gap: 2rem;
    }
    
    footer .arrow {
        display: flex;
        justify-content: flex-end;  
        width: 100%;
    }
    
    footer .arrow i {
        color: #ffffff;
        background-color: #4B91F7;
        font-size: 1.2rem;
        padding: 0.5rem;

        margin: 1rem 1.2rem;
       
    }
}

@media(max-width : 700px) {
    #menu-icon {
        display: block;
        color: #cc0606;
        font-size: 2rem;
    }

    header a {
        color: #cc0606;
        font-size: 1.5rem;
    }

    #nav-links {
        display: none;
    }

    .head header { 
        padding: 1rem 2rem;
        
    }
}

@media(max-width : 340px) {

    section {

        padding: 1rem 3rem;
    }

    .head {
        padding-bottom: 4rem;
    }

    .head header { 
        padding: 1rem 2rem; 
    }

    .head .home {
        margin-top: 40px;
    }

    .head .home .left .title {
        word-spacing: 1.3rem;
        line-height: 3rem;
        font-size: 1.8rem;
        text-align: center;
        
    }

    .head .home .left p {
        word-spacing: 0.1rem;
        line-height: 1.3rem;
        font-size: 0.8rem;

        margin: 1rem 0rem;
    }

    .head .home .right {
        width: 100%;
    }

    .features {
        margin-top: 40px;
        padding: 0;
    }

    .info {
        gap: 1rem;

    }

    .info h1 {
        font-size: 1.5rem;
    }

    .info p {
        font-size: 0.8rem;
        line-height: 1.5rem;
        padding: 1rem;
    }

    .features .cards .card {
        gap: 1.5rem;
    }

    .features .cards .card p {
        line-height: 1.3rem;
        font-size: 0.8rem;
        padding: 0;
        margin: 0;
    }

    .features .cards .card i {
        font-size: 1.4rem;
        padding: 0.5rem;
    }

    .courses {
        margin-top: 100px;
        padding: 1rem;
    }

    .courses .cards .card p {
        line-height: 1.3rem;
        font-size: 0.8rem;
    }

    .testimonial {
        margin-top: 60px;
        padding: 1rem;
    }

    .testimonial .info h1 {
        font-size: 1.8rem;
    }

    .testimonial .cards .card div {
       width: 40%;
        margin-top: 2rem;
    }

    .app {
        margin-top: 50px;
        padding: 1.5rem;
    }

    .app .boss-second {
        display: flex;
        flex-direction: column;    
        margin-top: 1rem;
    
        align-items: center;
        gap: 1rem;
        /* padding: 1rem; */
    }

    .app .cards .card-icon h3 {
        font-size: 1.2rem;
    }
    
    .app .cards .card p {
        /* line-height: 2rem; */
        font-size: 0.8rem;
    }

    .app .cards .card i {
        font-size: 1.3rem;
        padding: 0.8rem;

    }

    .app .fourth img{
        width: 30%;
    }

    footer {
        margin-top: 60px;
    }
    
    footer h1 {
        margin-top: 60px;
        font-size: 1.2rem;
    }

    footer p {
        font-size: 0.8rem;
        line-height: 1.3rem;
        margin: 1rem 2rem;
    }

    footer .arrow i {
        color: #ffffff;
        background-color: #4B91F7;
        font-size: 1.5rem;
        padding: 0.8rem;

        margin: 1rem 1.2rem;
       
    }
}